*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    max-width: 700px;
    margin: 0 auto;
}

.carousel-main{
    position: relative;
}

.carousel-img{
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 7 / 3;
}

.carousel-main-content{
    display: none;
    position: relative;
}


.active{
    display: block;
}

.carousel-text{
    position: absolute;
    left: 50px;
    right: 20px;
    bottom: 22px;
    color: white;
    text-align: end;
}

.carousel-text p{
    font-weight: 400;
    font-size: 16px;
}

.carousel-text h3{
    font-weight: 600;
    font-size: 20px;
}

.scroll-up,
.scroll-down{
    z-index: 1;
    position: absolute;
    left: 50%;
    padding: 2px;
    transform: translateX(-50%);
    background-color: #CCCCCC;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-up{
    top: 10px;
}

.scroll-down{
    bottom: 10px;
}